.hero-unit
  %h1 Hackday vacation search
  %p add date criteria when search holiday property in rent channel, so user can search all the available properties in a certain time.
  %p
    %a.btn.btn-primary.btn-large{:href=>'/helloworld' } Hello World!

